@model ResetPasswordViewModel
@section Styles{
    <link href="~/NewFolder/mines.css" rel="stylesheet" />
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sign In</li>
    </ol>
</nav>

<h2>Sign In</h2>

<form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post" id="FormCreate">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-denger samll" })
    @Html.HiddenFor(model=>model.Token)

    <div class="form-group">
        <label asp-for="UserName" class="col-form-label">User Name</label>
        <input asp-for="UserName" class="form-control" placeholder="Username" />
        <span asp-validation-for="UserName" class="text-danger small"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-form-label">New Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="New Password" />
        <span asp-validation-for="Password" class="text-danger small"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-form-label">Re-Enter New Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Re-Enter Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
    </div>

    <hr />
    <div class="form-group">
        <button class="btn btn-success">
            Submit
        </button>




    </div>
</form>
@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script>
        $(document).ready(function () {
            $("#FormCreate").on("submit", function (e) {
                e.preventDefault();

                var frm = $(this);

                $.ajax({
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: frm.serialize(),
                    success: function (response) {
                        if (response.status == true) {
                            bootbox.alert(response.message);
                            $("#CreateModal").modal('hide');

                            // refresh data grid
                            //$.ajax({
                            //    url: '/Admin/Course/GetData/',
                            //    type: 'GET',
                            //    success: function (data) {
                            //        $("#Courses").html(data);
                            //    },
                            //    error: function () {

                            //    }
                            //});

                            // hide modal
                        } else {
                            bootbox.alert(response.message);
                        }
                    },
                    error: function () {

                    }
                });

            });
        });
    </script>
}



