@{
    Layout = "_LayoutPublic";
}
<!-- ======= body section 1 ========= -->
<div class="container body_section">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="row">
                <div class="col-12">
                    <h1>Restaurants near you available on demand.</h1>
                </div>
                <div class="col-12">
                    <p>Breakfast, lunch, and dinner all ready when you are.</p>
                </div>
                <div class="col-12">
                    <a href="#">TRY Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <img src="~/img/savebig.png" alt="">
        </div>
    </div>
</div>
<!-- ======= body ========= -->
<!-- ======= body section 2 ========= -->
<div class="container body_section2">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <img src="~/img/orderfor.png" alt="">
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="row">
                <div class="col-12">
                    <h1>Order from local favorites near you.</h1>
                </div>
                <div class="col-12">
                    <p>Whatever you want, we get it. Order delivery for yourself or with friends and watch in real-time as your Postmate brings you all the things you love.</p>
                </div>
                <div class="col-12">
                    <input type="text" placeholder="Enter your phone number to get the app">
                </div>
                <div class="col-12">
                    <a href="#">GET THE APP</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= body ========= -->
<!-- ======= delivery more then dinner =============== -->
<div class="container delivery_more_then">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-12">
                    <h1>We deliver more than dinner.</h1>
                </div>
                <div class="col-12">
                    <p>Need another charger? Kitchen staples? Party supplies? We’ve got everything you need available for delivery within an hour.</p>
                </div>
                <div class="col-12">
                    <a href="#">ORDER NOW</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/handfree.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/hed.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/advil.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/banana.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/botal.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-4 mb-4">
                    <a href="#">
                        <div class="hvr-grow">
                            <img src="~/img/chicken.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= delivery more then dinner =============== -->
<!-- ======= footer abover banner ==================== -->
<div class="container-fluie p-0 footer_abover_banner">
    <div class="container">
        <div class="row p-0 m-0">
            <div class="col-12 text-center">
                <h2>Ready to order?</h2>
            </div>
            <div class="col-12 text-center">
                <p>Browse local restaurants and businesses for delivery by <br> entering your address below.</p>
            </div>
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="col-auto form_location">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                                </div>
                                <input type="text" class="form-control input_dr1" id="inlineFormInputGroup" placeholder="Enter your address...">

                                <div class="input-group-prepend sub_button">
                                    <div class="input-group-text"><a href="#"><i class="fas fa-chevron-right"></i></a></div>
                                </div>
                                <div class="delivery1">
                                    <button class="btn" href="#">DELIVERY</button>
                                    <button class="btn" href="#">PICKUP</button>
                                </div>
                                <a href="/Home/GeoLocation" class="current_location1 text-left"><i class="fa fa-location-arrow"></i> Use Current Location</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
