
@{
    ViewData["Title"] = "PublicSiteLandingPage";
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";


}
<!-- Service Procedure -->
<div class="service-procedure">
    <h3 class="text-red">Choose a service___</h3>
    <!--  -->
    <div class="container-fluid mt-5">
        <div class="row">
            <!--  -->
            <div class="col-md-6 col-xl-5 mt-3">
                <div class="select-card">
                    <img src="~/LandingPageNew/assets/images/restaurant-icon.png" alt="restaurant-icon" class="img-fluid mb-3">
                    <h2 class="text-red bold select-name">Restaurant</h2>
                    <p class="text-red select-desc">
                        Breakfast, lunch and dinner all ready when you are, anywhere you
                        are!
                    </p>
                </div>
            </div>
            <!--  -->
            <div class="col-md-6 col-xl-5 offset-xl-1 mt-3">
                <div class="select-card">
                    <img src="~/LandingPageNew/assets/images/essential-icon.png" alt="essential-icon" class="img-fluid mb-3">
                    <h2 class="text-red bold select-name">Essentials</h2>
                    <p class="text-red select-desc">
                        Daily essentials and fresh groceries availableanywhere you are!
                    </p>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!--  -->
    <div class="container mt-5 pt-5">
        <div class="row">
            <!--  -->
            <div class="col-md-4 mt-3 text-center pro-wrapper">
                <img src="~/LandingPageNew/assets/images/pro-location-icon.png" alt="Location" class="img-fluid d-block mx-auto">
                <span class="bold">Tell us your location</span>
            </div>
            <!--  -->
            <div class="col-md-4 mt-3 text-center pro-wrapper">
                <img src="~/LandingPageNew/assets/images/pro-product-icon.png" alt="Product" class="img-fluid d-block mx-auto">
                <span class="bold">Choose your product</span>
            </div>
            <!--  -->
            <div class="col-md-4 mt-3 text-center pro-wrapper">
                <img src="~/LandingPageNew/assets/images/pro-get-icon.png" alt="Get Product" class="img-fluid d-block mx-auto">
                <span class="bold">Get your product</span>
            </div>
            <!--  -->
        </div>
    </div>
    <!--  -->
</div>
<!-- Service Procedure End -->
<!-- Near Restaurants -->
<div class="near-restaurants">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!--  -->
            <div class="col-md-6 mt-3 pl-md">
                <h2 class="bold text-red">Restaurants near you available on demand!</h2>
                <p class="text-red">
                    Breakfast, lunch and dinner all ready when you are, <strong>anywhere</strong>
                    you
                    are!
                </p>
                <button type="button" class="bg-red text-white red-btn mt-5">Try Now!</button>
            </div>
            <!--  -->
            <div class="col-md-6 mt-3">
                <img src="~/LandingPageNew/assets/images/near-restaurant-img.png" alt="Near Restaurants" class="img-fluid">
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- Near Restaurants End -->
<!-- Top Picks -->
<div class="top-picks">
    <h3 class="text-red bold">Our top picks___</h3>
    <div class="swiper-container mt-5">
        <div class="swiper-wrapper">
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-1.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">Bob's Burgers</div>
                    <div class="label text-white">NNN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-2.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">McDonatus</div>
                    <div class="label text-white">NN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-1.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">Bob's Burgers</div>
                    <div class="label text-white">NNN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-2.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">McDonatus</div>
                    <div class="label text-white">NN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-1.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">Bob's Burgers</div>
                    <div class="label text-white">NNN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-2.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">McDonatus</div>
                    <div class="label text-white">NN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-1.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">Bob's Burgers</div>
                    <div class="label text-white">NNN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-2.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">McDonatus</div>
                    <div class="label text-white">NN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-1.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">Bob's Burgers</div>
                    <div class="label text-white">NNN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
            <div class="swiper-slide bg-red">
                <img src="~/LandingPageNew/assets/images/slider-2.png" alt="img" class="w-100">
                <div class="pick-info">
                    <div class="name text-white bold">McDonatus</div>
                    <div class="label text-white">NN</div>
                    <button class="text-red bold order-now-btn">Order Now!</button>
                </div>
            </div>
            <!--  -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Top Picks End -->
<!-- Account -->
<div class="account pl-md">
    <h2 class="text-red bold col-lg-8 col-xl-6 pl-0">Create a GrubNow Corporate Account!</h2>
    <p class="text-red col-lg-8 col-xl-6 pl-0">
        Order grub for your metings, lunch for your staff or late-night
        deliveries
        straight to your
        office!
    </p>
    <button type="button" class="bg-red text-white red-btn mt-3">Get Started</button>
</div>
<!-- Account End -->
<!-- App -->
<div class="app">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!--  -->
            <div class="col-lg-6 text-center order-1 order-lg-0">
                <img src="~/LandingPageNew/assets/images/app-img.png" alt="app" class="img-fluid">
            </div>
            <!--  -->
            <div class="col-lg-6 order-0 order-lg-1">
                <h2 class="text-red bold">Order from your local favorites near you!</h2>
                <p class="text-red">
                    Order fresh grub anytime, anywhere and watch in real time as your delivery agent
                    brings you all
                    the things you love and need all from the comfort of your sofa!
                </p>
                <button type="button" class="bg-red text-white red-btn mt-5">Get the app!</button>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- App End -->
<!-- Ready Order -->
<div class="ready-order">
    <div class="wrapper mx-auto">
        <h2 class="text-white bold text-center">Ready to order?</h2>
        <p class="text-white text-center">
            We're ready to deliver! <br> Browse local restaurants and businesses for
            delivery by entering your address below
        </p>
        <div class="addressbar mt-5 mx-auto">
            <div class="location-icon text-center">
                <img src="~/LandingPageNew/assets/images/location-icon-red.png" class="img-fluid">
            </div>
            <input type="text" placeholder="Enter your address...">
            <button type="button text-center">
                <img src="assets/images/send-icon-red.png">
            </button>
        </div>
    </div>
</div>
<!-- Ready Order End -->
