<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="~/css/hover.css" type="text/css" rel="stylesheet">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="~/LandingPageNew/assets/css/style.css">
    <title>grubNow</title>



</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/PublicSiteLandingPage">
                <img src="~/LandingPageNew/assets/images/logo.jpeg" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#grubNowNavbar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="grubNowNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-right">
                        <a class="nav-link bold" href="/Account/HandleSignUp">Sign Up</a>
                    </li>
                    <li class="nav-item text-right">
                        <a class="nav-link bold" href="/Identity/Account/Login">Login</a>
                    </li>
                    <li class="nav-item dropdown text-right">
                        <a class="nav-link dropdown-toggle no-caret" href="#" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu to-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    @RenderBody()

    <!-- ======= footer ======================== -->
    <!-- Footer -->
    <footer class="page-footer font-small indigo footer_main">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-12 text-left">
                    <h5 class="font-weight-bold  mt-3 mb-2">grubNow</h5>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <h5 class="font-weight-bold text-lowercase mt-3 mb-2 text-left css-1w4k9rf ">grubNow</h5>
                    <ul class="list-unstyled text-left">
                        <li>
                            <a href="#!" class="css-kbnj0e">About</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Blog</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Press & Media</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Developers</a>
                        </li>
                        @*<li>
                                <a href="#!" class="css-kbnj0e">API Docs</a>
                            </li>
                            <li>
                                <a href="#!" class="css-kbnj0e">Gift Cards</a>
                            </li>

                            <li>
                                <a href="#!" class="css-kbnj0e">Pickup</a>
                            </li>*@

                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-2 css-1w4k9rf">
                        MERCHANTS
                    </h5>
                    <ul class="list-unstyled text-left">
                        <li>
                            <a href="/Account/HandleSignUp?signUpAs=Vendor" class="css-kbnj0e">Sell on grubNow</a>
                        </li>
                        <li>
                            <a href="/Restaurant/ListResturent" class="css-kbnj0e">Restaurants</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj1e"><b>FLEET</b></a>
                        </li>
                        @*<li>
                                <a href="/ManageAllUser/ListOfDriverShowCustomer" class="css-kbnj0e">Driver</a>
                            </li>
                            <li>
                                <a href="/ManageAllUser/ListOfVendor" class="css-kbnj0e">Vendor</a>
                            </li>*@
                        <li>
                            <a href="/Account/HandleSignUp?signUpAs=Driver" id="JoinDriver" class="css-kbnj0e TestDriver">Join the Fleet</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj1e"><b>SUPPORT</b></a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e"> Customer Help</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Fleet Help</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Merchant Help</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-2 css-1w4k9rf text-left">MORE</h5>

                    <ul class="list-unstyled text-left">
                        <li>
                            <a href="/Home/DeliveryNearByMe" class="css-kbnj0e">Delivery Near Me</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Takeout Near Me</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Pizza Near Me</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Thai Near Me!</a>
                        </li>

                        <li>
                            <a href="#!" class="css-kbnj0e">Mexican Near Me</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Alcohol Delivery</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">FoodFight!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-2 css-1w4k9rf">FOLLOW US</h5>

                    <ul class="list-unstyled text-left">
                        <li>
                            <a href="#!" class="css-kbnj0e">Twitter</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Facebook</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Instagram</a>
                        </li>
                        <li>
                            <a href="#!" class="css-kbnj0e">Snapchat</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ======= body section 1 ========= -->
        <div class="container delivery_location">
            <div class="row border-top pb-4">
                <div class="col-12 pt-4 css-1w4k9rf">
                    <h3>Our Top Locations</h3>
                </div>
            </div>
            @await Component.InvokeAsync("AreaList")
            <div class="row border-top mt-5 pt-4">

            </div>
        </div>
        <div class="container css-j26i3k e15vi8s013">
            <h3 class="css-bgwxx">grubNow is the most reliable on-demand delivery and pickup platform.</h3>
            <p class="css-3ktj7">Able to deliver anything from anywhere, grubNow is the food delivery, grocery delivery, whatever-you-can-think-of delivery app to bring what you crave right to your door. Order from the food delivery app with the best selection with over restaurants and stores, many of them only on grubNow, and we’re adding more every day.
        </div>
        <div class="container css-1aas96k e15vi8s03 mt-3">
            <a href="#" data-event-category="Navigation" data-event-action="Footer" data-event-label="Home" class="css-116ols1 text-lowercase e15vi8s04">©2020 grubNow Inc</a>
            <a data-event-category="Navigation" data-event-action="Footer" data-event-label="Terms" class="css-odoev0 e15vi8s05" href="#"><span>Terms</span></a>
            <a data-event-category="Navigation" data-event-action="Footer" data-event-label="Privacy" class="css-odoev0 e15vi8s05" href="#"><span>Privacy</span></a>
        </div>

        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/"> By grubNow</a>
        </div>
    </footer>
    <!-- ======= footer ======================== -->
    <!-- ========== model login ============ -->
    <div class="modal fade" id="GenericModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="CreateModal"></div>
                <div class="modal-footer">
                    @*<a class="btn btn-link text-danger" id="btnSignUp" href="/Account/SignUp">
                            New user! Do not have an account yet.
                        </a>*@
                </div>
            </div>
        </div>
    </div>


    <!-- JS Files -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="~/LandingPageNew/assets/js/script.js"></script>
    <script src="~/js/custom.js"></script>


    @*<script>
            $(document).ready(function () {

                //-----------------------------------------------------------------------------
                // AutoComplete Text Box Search
                $('#SearchArea').autocomplete({
                    source: "Home/GetSearchValue/"
                });


                //Btn
                $("#SearchButton").on("click", function () {
                    debugger
                    var area = $("#SearchArea").val();
                    window.location.href = "/Restaurant/ListResturentByArea/" + "?Area=" + area;
                });

                $(".input_dr").focus(function () {
                    $(".current_location").show();
                    $(".delivery").show();
                });

                $(window).on('load', function () {
                    $(".input_dr").focus();
                    $(".current_location").show();
                    $(".delivery").show();
                });

                $('.input_dr').on('click touch', function () {
                    $(".current_location").show();
                    $(".delivery").show();
                });

                $(document).on('click touch', function (event) {
                    if (!$(event.target).parents().addBack().is('.delivery, .current_location, .input_dr')) {
                        $('.current_location').hide();
                        $('.delivery').hide();
                    }
                });


                //For Footer Text Box
                $(".input_dr1").focus(function () {
                    $(".current_location1").show();
                    $(".delivery1").show();
                });

                $('.input_dr1').on('click touch', function () {
                    $(".current_location1").show();
                    $(".delivery1").show();
                });

                $(document).on('click touch', function (event) {
                    if (!$(event.target).parents().addBack().is('.delivery1, .current_location1, .input_dr1')) {
                        $('.current_location1').hide();
                        $('.delivery1').hide();
                    }
                });
            });
        </script>*@
    @*@RenderSection("Scripts", required: false)*@
    @*<script src="~/js/GoogleMapLocation.js"></script>*@
</body>
</html>


