@using Microsoft.AspNetCore.Identity
@inject SignInManager<Models.AppUser> SignInManager
@inject UserManager<Models.AppUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-2"
                   id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="color:black">My Account</span>
                </a>
                <div class="dropdown-menu mt-0 mr-2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item mr-2 btn btn-link text-dark" asp-controller="Home" asp-action="UserProfile"> <i class="fas fa-user-alt"></i>&nbsp;Profile</a>
                    <form class="form-inline" asp-action="SignOut" asp-controller="/Account" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">&nbsp;&nbsp;<i class="fas fa-lock"></i> &nbsp;Logout</button>
                    </form>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@*@User.GetCurrentUserNameAsHtml()*@@User.Identity.Name</a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link text-dark text-left" href="/Home/UserProfile" title="User Profile">@User.Identity.Name!</a>
            </li>*@
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Login</a>
            </li>
        }
    </ul>
