@model IEnumerable<OtherLocationList>
@{
    ViewData["Title"] = "Register Location";
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Location Name</th>
                    <th scope="col">Location Address</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.LocationName</td>
                        <td>@item.LocationAddress</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

