@charset "utf-8";

@font-face {
    font-family: 'oswald';
    src: url('../fonts/PTSans-Regular.ttf');
}

body {
    font-family: 'oswald';
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:after, :before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-search-cancel-button {
    display: none;
}

a {
    text-decoration: none;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
}

img {
    max-width: 100%;
}

.back_color_main {
    background-color: #fb1326;
}

.logo {
    color: #2D3138;
    font-size: 25px;
    font-weight: 600;
}

    .logo:hover {
        color: #2D3138;
    }

p {
    color: black;
    font-size: 16px;
}

.form_button > button {
    border: 1px solid rgba(45,49,56,0.15);
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    width: 115px;
    font-size: 14px;
    border-radius: 20px;
    margin-left: 10px;
}

    .form_button > button:nth-child(1):hover {
        background-color: rgba(45,49,56,0.03);
    }

    .form_button > button:nth-child(2) {
        background-color: #2D3138;
        border: none;
        color: #F4DCDC;
    }

.header_text_div {
    margin-top: 10% !important;
}

    .header_text_div > div > img {
        height: 100%;
        width: 100%;
    }

.form_location > div > input {
    height: 50px;
    border-radius: 0;
    border: none;
}

    .form_location > div > input:focus {
        box-shadow: none;
    }

/*.multiple-select {
    height: 300px !important;
    overflow-y: auto !important;
}*/
.dashboardcode-bsmultiselect>ul:nth-child(2){
    height:300px !important;
    overflow-y:auto !important;
}
.form_location > div > a {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-top: 1px solid #00cc99;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: none;
    position: absolute;
    top: 100px;
    box-shadow: 0 0 1px #000;
    z-index
}

.form_location > div > div > div {
    border-radius: 0;
    background-color: white;
    border: none;
}

.sub_button > div {
    padding: 0 !important;
}

    .sub_button > div > a {
        background-color: rgb(0, 204, 153);
        height: 100%;
        width: 52px;
        color: white;
        line-height: 50px;
    }

.header_text_div > div:nth-child(2) > div > div:nth-child(1) > h2 {
    color: rgb(45, 49, 56);
    font-weight: bold;
}

.header_text_div > div:nth-child(2) > div > div:nth-child(3) {
    margin-bottom: 55px;
}

.form_location > div > a > i {
    color: #00cc99;
}

.body_section {
    margin-top: 50px;
}

    .body_section > div > div:nth-child(1) {
        margin-top: 40px;
    }

        .body_section > div > div:nth-child(1) > div h1 {
            color: #000;
            font-size: 48px;
            font-weight: 700;
        }

        .body_section > div > div:nth-child(1) > div p {
            font-size: 21px;
        }

        .body_section > div > div:nth-child(1) > div a {
            border-radius: 28px;
            background-color: #00CC99;
            color: #fff;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 48px;
            display: inline-block;
            line-height: 43px;
            width: 42%;
            text-align: center;
            text-decoration: none;
        }

.body_section2 {
    margin-top: 50px;
}

    .body_section2 > div > div:nth-child(2) {
        margin-top: 40px;
    }

        .body_section2 > div > div:nth-child(2) > div h1 {
            color: #000;
            font-size: 48px;
            font-weight: 700;
            margin-top: 65px;
        }

        .body_section2 > div > div:nth-child(2) > div p {
            font-size: 21px;
        }

        .body_section2 > div > div:nth-child(2) > div a {
            border-radius: 28px;
            background-color: #00CC99;
            color: #fff;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 48px;
            display: inline-block;
            line-height: 43px;
            width: 42%;
            text-align: center;
            text-decoration: none;
        }

        .body_section2 > div > div:nth-child(2) > div input {
            border: 1px solid rgba(217,219,224,0.5);
            width: 100%;
            color: #000;
            height: 54px;
            margin-bottom: 20px;
            padding: 10px;
        }

.delivery_more_then {
    margin-top: 65px;
}

    .delivery_more_then > div > div:nth-child(1) > div h1 {
        color: #000;
        font-size: 48px;
        font-weight: 700;
        margin-top: 30px;
    }

    .delivery_more_then > div > div:nth-child(1) > div a {
        border-radius: 28px;
        background-color: #00CC99;
        color: #fff;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        height: 48px;
        display: inline-block;
        line-height: 43px;
        width: 40%;
        text-align: center;
        text-decoration: none;
    }

.footer_abover_banner > div > div {
    padding: 80px 15px !important;
}

.delivery_more_then > div > div:nth-child(2) > div > div > a > div {
    background-color: #f7f7f8;
    border-radius: 10px;
    text-align: center;
}

.footer_abover_banner > div > div > div h2 {
    color: #fff;
    font-weight: bold;
}

.footer_abover_banner > div > div > div p {
    color: #fff;
}

.footer_abover_banner {
    background-color: #0c494c;
    background-image: url(../img/foooterabovebanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_main {
    background-color: #000;
    color: #fff;
    padding: 40px 15px;
}

    .footer_main a {
        color: #fff;
    }

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }

.fade {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
/* ========= form css ========== */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 46px;
        cursor: pointer;
        line-height: 33px;
        display: inline-block;
        color: #666;
        margin: 0;
    }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 21px;
            height: 21px;
            background: #F87DA9;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.custom_css_for_form {
    width: 65%;
    margin: 15% auto;
}

    .custom_css_for_form > h3 {
        margin-bottom: 26px;
    }

.border_div {
    border-top: 1px solid #f87da9;
    margin-top: 10px;
    padding-top: 20px;
}

.check_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .check_box input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check_box:hover input ~ .checkmark {
    background-color: #ccc;
}

.check_box input:checked ~ .checkmark {
    background-color: #f87da9;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check_box input:checked ~ .checkmark:after {
    display: block;
}

.check_box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_css_for_form > form > div > div > a {
    display: inline-block;
    margin-top: 10px;
    background-color: #f87da9;
    color: #fff;
    padding: 6px 46px;
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
}

.custom_css_for_form > form > div > div > button {
    display: inline-block;
    margin-top: 10px;
    background-color: #f87da9;
    color: #fff;
    padding: 6px 46px;
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
}


label {
    font-size: 20px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f87da9;
    box-shadow: none;
}

.vander_form {
    margin: 4% auto !important;
    margin-bottom: 0 !important;
}

.driver_form {
    margin: 10% auto !important;
}

.user_form {
    margin: 10% auto !important;
}

.delivery_location {
    margin: 40px auto;
}

    .delivery_location > div:nth-child(2) > div:nth-child(7) {
        margin: 0;
    }


.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.css-kbnj0e {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 200;
    line-height: normal;
    font-size: 13px;
    display: block;
    color: #8F95A3;
    padding: 17px 0 0 0;
}

.css-kbnj1e {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 17px;
    letter-spacing: 0.14px;
    font-weight: 500;
    line-height: normal;
    font-size: 13px;
    display: block;
    color: #8F95A3;
    padding: 17px 0 0 0;
}


.custom_css_for_ > button {
    display: inline-block;
    margin-top: 10px;
    background-color: #f87da9;
    color: #fff;
    padding: 6px 46px;
    font-size: 20px;
    border-radius: 2px;
    text-decoration: none;
}



.css-1w4k9rf {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 14px;
    letter-spacing: -0.24px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    line-height: 1.85em;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    white-space: nowrap;
}

.css-3ktj7 {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    letter-spacing: 0;
    line-height: 22px;
    color: white;
    display: block;
}

.css-bgwxx {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 17px;
    letter-spacing: -0.28px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    letter-spacing: -0.9px;
    line-height: 32px;
    color: white;
}

.css-1aas96k {
    margin: 0 auto;
    padding-bottom: 100px;
}


.css-116ols1 {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 12px;
    letter-spacing: -0.1px;
    font-weight: 500;
    line-height: normal;
    color: #8F95A3;
    margin: 0 12px;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
    margin-left: 0;
}

.css-odoev0 {
    font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
    font-size: 12px;
    letter-spacing: -0.1px;
    font-weight: 500;
    line-height: normal;
    color: #8F95A3;
    margin: 0 12px;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
}
/* ========= form css ========== */
.delivery {
    width: 100%;
    font-size: large;
    border: 1px solid rgba(45,49,56,0.08);
    position: absolute;
    top: 100%;
    display: none;
}

    .delivery > button {
        width: 50%;
        text-align: center;
        float: left;
        background-color: rgb(255, 255, 255);
        font-family: PostmatesStd, "Helvetica Neue", Helvetica;
        letter-spacing: initial;
        font-weight: 600;
        text-transform: uppercase;
        line-height: normal;
        color: rgb(45, 49, 56);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 13px;
        height: 100%;
        padding: 16px;
        margin: 0px;
        border-style: none none solid;
        border-image: initial;
        outline: none;
        border-radius: 0px;
        border-bottom: 3px solid #fff;
        flex: 1 1 0%;
        transition: color 0.5s ease 0s;
        text-decoration: none;
    }
        .delivery > button:focus {
            border-bottom-color: rgb(0, 204, 153);
            box-shadow: none;
        }

        .delivery > button:hover {
            border-bottom-color: rgb(0, 204, 153);
        }
.delivery_location1 {
    margin: 40px auto;
}

    .delivery_location1 > div:nth-child(2) > div:nth-child(7) {
        margin: 0;
    }

.delivery1 {
    width: 100%;
    font-size: large;
    border: 1px solid rgba(45,49,56,0.08);
    position: absolute;
    top: 100%;
    display: none;
}

.delivery1 > button {
    width: 50%;
    text-align: center;
    float: left;
    background-color: rgb(255, 255, 255);
    font-family: PostmatesStd, "Helvetica Neue", Helvetica;
    letter-spacing: initial;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    color: rgb(45, 49, 56);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    height: 100%;
    padding: 16px;
    margin: 0px;
    border-style: none none solid;
    border-image: initial;
    outline: none;
    border-radius: 0px;
    border-bottom: 3px solid #fff;
    flex: 1 1 0%;
    transition: color 0.5s ease 0s;
    text-decoration: none;
}

    .delivery1 > button:focus {
        border-bottom-color: rgb(0, 204, 153);
        box-shadow: none;
    }

    .delivery1 > button:hover {
        border-bottom-color: rgb(0, 204, 153);
    }


/* ========= form css ========== */

@media only screen and (min-width:961px) and (max-width:1200px) {
    .header_text_div > div:nth-child(2) > div > div:nth-child(1) > h2 {
        margin-top: 18px;
    }

    .body_section2 > div > div:nth-child(2) > div h1 {
        margin-top: 0;
    }
}

@media only screen and (min-width:768px) and (max-width:960px) {
    .header_text_div > div:nth-child(2) > div > div:nth-child(1) > h2 {
        margin-top: 18px;
    }

    .body_section2 > div > div:nth-child(2) > div h1 {
        margin-top: 0;
    }
}

@media only screen and (min-width:100px) and (max-width:767px) {
    .header_text_div > div:nth-child(2) > div > div:nth-child(1) > h2 {
        margin-top: 18px;
    }

    .body_section2 > div > div:nth-child(2) > div h1 {
        margin-top: 0;
    }

    .custom_css_for_form {
        width: 100%;
    }
}

@media only screen and (min-width:100px) and (max-width:600px) {
    .body_section > div > div:nth-child(1) > div h1 {
        font-size: 27px;
    }

    .body_section > div > div:nth-child(1) > div p {
        font-size: 17px;
    }

    .body_section > div > div:nth-child(1) > div a {
        width: 100%;
    }

    .body_section2 > div > div:nth-child(2) > div h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    .body_section2 > div > div:nth-child(2) > div p {
        font-size: 17px;
    }

    .body_section2 > div > div:nth-child(2) > div a {
        width: 100%;
    }

    .delivery_more_then > div > div:nth-child(1) > div h1 {
        color: #000;
        font-size: 31px;
        margin-top: 0px;
    }

    .delivery_more_then > div > div:nth-child(1) > div a {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer_abover_banner > div > div > div h2 {
        font-size: 30px;
    }

    .form_location > div > a {
        font-size: 12px;
    }

    .header_text_div > div:nth-child(2) > div > div:nth-child(1) > h2 {
        margin-top: 18px;
    }

    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        padding-left: 23px;
        line-height: 22px;
    }

    #PartialVies {
        padding: 0;
    }

    label {
        font-size: 13px;
    }

    [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
        width: 18px;
        height: 18px;
    }

    [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
        width: 12px;
        height: 12px;
        background: #F87DA9;
        position: absolute;
        top: 3px;
        left: 3px;
    }

    .modal {
        width: 79%;
    }

    .offset-1 {
        margin-left: 0 !important;
    }

    #CreateModal {
        padding: 10px !important;
    }

    .footer_main > div > div > div > ul > li {
        font-size: 15px;
    }
    .custom_css_for_form > form > div > div > button {
        padding: 6px 2px;
        width: 48%;
        text-align: center;
        display: inline-block;
        float: left;
    }
    .custom_css_for_form > form > div > div > a{
        padding: 6px 2px;
        width: 48%;
        text-align: center;
        display: inline-block;
        float: left;
    }

}
